<!DOCTYPE html>
<html lang="en">
<div th:insert="header :: headerAdmin"></div>

<!--<style>-->
<!--    /* The Modal (background) */-->
<!--    .modal {-->
<!--        display: none;-->
<!--        /* Hidden by default */-->
<!--        position: fixed;-->
<!--        /* Stay in place */-->
<!--        z-index: 1;-->
<!--        /* Sit on top */-->
<!--        padding-top: 100px;-->
<!--        /* Location of the box */-->
<!--        left: 0;   top: 0;   width: 100%;-->
<!--        /* Full width */-->
<!--        height: 100%;-->
<!--        /* Full height */-->
<!--        overflow: auto;-->
<!--        /* Enable scroll if needed */-->
<!--        background-color: rgb(0,0,0);-->
<!--        /* Fallback color */-->
<!--        background-color: rgba(0,0,0,0.4);-->
<!--        /* Black w/ opacity */-->
<!--    }-->

<!--    /* Modal Content */-->
<!--    .modal-content {-->
<!--        background-color: #fefefe;-->
<!--        margin: auto;-->
<!--        padding: 20px;-->
<!--        border: 1px solid #888;-->
<!--        width: 80%;-->
<!--    }-->

<!--    /* The Close Button */-->
<!--    .close {-->
<!--        color: #aaaaaa;-->
<!--        float: right;-->
<!--        font-size: 28px;-->
<!--        font-weight: bold;-->
<!--    }-->

<!--    .close:hover, .close:focus {-->
<!--        color: #000;-->
<!--        text-decoration: none;-->
<!--        cursor: pointer;-->
<!--    }-->
<!--</style>-->


<body class="bg-gray-800">

<div class="container  card-body text-center  align-items-center card shadow-2-strong ">

    <table class="table table-hover table-light">
        <thead>
        <tr>
            <td>
                Логин

            </td>
            <td>
                Роль

            </td>
            <td >

            </td>
        </tr>
        </thead>
        <tbody>

        <div  class="row form-outline" th:each="el: ${listUser}">
            <tr>
                <td > <p   th:text="${el.username}"> </p></td>
                <td class="col"> <p th:text="${el.role}"> </p></td>

                <td class="col">   <a  class="btn btn-success edit"   data-toggle="modal" th:data-target="${'#edituser'+el.id}" > Назначить роль</a></td>

                <div class="modal fade" th:id="${'edituser'+el.id}" role="dialog">
                    <input type="hidden" id="id" th:value="${el.id}">
                    <div class="modal-dialog" >
                        <div class="modal-content">
                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">Назначение роли</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <!-- Modal body -->
                            <div class="modal-body">

                                <form method="post" th:action="'/Admin/AccountEdit/'+${el.id}">


                                    <div th:each="role:${listRole}">
                                        <div th:each="user:${el}" >
                                            <input type="radio" name="role[]"
                                                   th:value="${role}"
                                                   th:checked="${#lists.contains(user.role,role)}"
                                            >
                                            <label th:text="${role}"></label>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-danger"  >Изменить роль</button>

                                </form>
                            </div>

                        </div>

                    </div>
                </div>
            </tr>
        </div>


        </tbody>
    </table>

</div>

</div>


</body>
</html>